body {
    font-family:Arial, Helvetica, sans-serif;
  }

  a {
    text-decoration: none;
  }

  .uplot {
    background: white;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
  }

  .created {
    width: 400px;
    padding-bottom: 10px;
    margin: 0 auto;
    font-size: 16px;

    margin-top: 20px;
    padding-top: 10px;

    

    border-top: 1px solid black;
  }

  .created>.author {
    display: flex;
    align-items: center;
    justify-content: center;    
  }

  .created>.author>* {
    padding: 0 2px;
  }

  .created>.contributors {
      text-align: center;
      cursor: pointer;
      padding-top: 10px;
      text-decoration: underline;
  }

  .pageHeader {
    text-align: center;
  }

  .pageHeader .quastion {
    cursor:help;
  }

  #parent {
    /* margin-left: 45%; */
    margin: 0 auto;
    width: 400px;
    /* padding-left: 40px; */
  }

  .userDataHolder {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    width: 100%;
  }

  .header.userDataHolder {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 0px;
  }

  .userImageHolder
   {
    width: 10%;
    text-align: right;
   }
  .userImage {
    border-radius: 50%;
    width: 25px;
  }
  .userHrefHolder {
    width: 55%;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .userHref {
    padding: 0 5px;
    text-overflow: ellipsis;
  }
  .followersCountHolder {
    width: 20%;
    cursor: pointer;
  }
  .tweetsCountHolder {
    width: 15%;
    cursor: pointer;
  }

  .followersCount {
    text-decoration: underline;
    cursor: pointer;
  }

    .tweetsCount {
        text-decoration: underline;
        cursor: pointer;
    }

  .overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }

  .overlay>.help,
  .overlay.commonOverlay>.container {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 16px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-align: justify;
    background: gray;
  }

  .help>.ru, .help>.de, .help>.br {
    display: none;
  }

  .help> .langSwitch {
    font-size: 20px;
  }

  .help> .langSwitch>.separator {
    padding: 0 10px;
  }

  .total {
    width: 400px;
    padding-bottom: 10px;
    margin: 0 auto;
    font-size: 14px;
  }

  .total .count {
    font-weight: bold;
  }

.sortDirection {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
}

.contributors .contributor {
    display: inline-block;
    padding-top: 5px;
}

ul.styleNone {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.preloader {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    display: block;
}

  .asc {
    background-image:
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACI0lEQVR4Xu2bv0odQRTGf0JewEhqC7GOWgXExkrslFiolb2VRVSws/EPYmPjA0hIYm+hVoplniAP4QMoyoG9Zu+6/67OnBH2m3LvsjPfb885851h7xAdH0Md148AKALSEfgK/AKGgXXgT4qlpEqBCeAKGMlEPwIrwG9vCCkAFMX3NCeB4A3AxF8DnyvetDsETwBN4ntMHoBVr3TwAtBWvDsEDwCTWcErhv0T1PoQiwQrjFF3h9gAqsQfAovAWK4WbAO7wKfctegQYgKoE/8D+FcAMA5Yqvz0hBALQJX4A2Aze8NlAOzad08IMQBMAZclW11evDGoAmC/VUFYBs5DmqXQAEy8OTyzt/mxD2wVrtUBcIMQEsAg4psioMcqeiSEAjAK/C0J+z3AqnvZaIqAJgizwM170yEUgA3gqLCYOvFtI6AOwjFg875rhAIwB1zkVtIkflAAZTVhKURBDAXAFrgGzGdF8LTFa2mbAvlHzQALwF0I8fbgkABaaO675S0ABp2j8X4BaEQU7wZFQEkvYFBch1LAFXf/ZEoBpUD/gYidB6gGeKekiqA38dx8KoIqgiqCfcfi2gW0DcoHyAjJCXr7EjlBb+Jygv8JyArLCssKywrnP5FRL6BeQL2AegH1At7OVL2AN3H1AuoFXgioGVIz1PFm6BaYzhLCPov/Atx7F+WU2+A34Cz759gOcOItPvVncin0vpozZQQIwEcg0PkIeAYMzqRB7XeySQAAAABJRU5ErkJggg==);
  }

  .desc {
    background-image:
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACK0lEQVR4Xu2au0oDQRSGv3hX7PUVLO2tRFAQBEELwcZSvINvYeFdK1EQRBEvaG1jbes76BNYKoMb2Qxxdza7sxPNH0gTNmfO+c5lzg9bocU/lRaPHwFQBYQjMA0cR8cvAnchXAnZAm/AQBT0OzDYagA+rYCDJCPIoVHgAqAKqCUQpBqDHKoW+CagGaAZoBlQQyDIPApyqIaghqBuAV2D2gO0CGkT1CqsVVirsFbhOIEga3mQQ6UFpAWkBaQFpAWkBaQFpAWkBaQFpAWkBWIEguiSIIdKDEkM/U8xNAGY7xPw6PDGVyOL0DAwD7wCp3X0hMOxfu7eEeAZft483QB2UrzJCmAMeAB6I7urwH7miD1tX5vAlmU7DUIWAOPAPdATO+MSmGsWAEPAC9CXAYIrgEngBuiO2Tb/nQFumwWA8WM06n1XCC4ApoBroMsKfin2mm0uBkXvAVkgpAEw7xJfAZ2+gjd2iwaQpRKSAMwCF0CHlV6T+aNcKfc0BG2fXCrhNwBmsJ0D7b6D91UBVb/TINQDYO74s7KC9w0grR22rQwvACdAm/X7MnBYZNnHbfmYAa7tYD9nKsL2x2vwZVRAWjskJXYFOPCV+ardMiqgEQiFrLku8MoEkDQT4r6WFnyZLRAP8LfbwTyzBuy5ZK6oZ8qugKR2WAd2iwrM1U4oANV2MHt+P2DUZG5p6xp02ddgkl9mzzfr7kcjzhfxn5AVUIT/uW0IQG6Ef9zAF2WbbkERSEU/AAAAAElFTkSuQmCC);
  }

  .flag:before {
    content: '';
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    margin-right: 5px;
    vertical-align: middle;
    display: inline-block;
  }

  .trend:before {
    content: '';
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    vertical-align: middle;
    display: inline-block;
  }

  .flag.ru:before {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAo0lEQVRIS2PcuO+I+u07D/d/+/5DkoGOgIuT47mqirwjY8+spc/obTnMnyBHMDZNnPsfJFCcHkdH/zMw9M5cBLZv1AGjITDwIcCoWf+fhZWNwcotnq654NDW2ZBcMOqA0RAYDYEBD4HlAgzg2tBaRoKu5cDRJy8g5cCoA0ZDYDCEwGUGBgYdumYBhGXnGZdxM4gzsTHs+/+fQYvOjjj//zeDJwBxf34P7r+YUwAAAABJRU5ErkJggg==);
  }

  .flag.de:before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAYAAABr5z2BAAAAVklEQVQ4T2NkYGCYzsDAkMFAHpjFyMDA8F9dXZ0s7Tdv3mQYBAbsYmT4rykjQ5YXrj95wsA4DAw41cDw3zRAgqwwOL3hBQPjoDBgJgMDQxpZfmBkmA0Ap4wzS+Kj08UAAAAASUVORK5CYII=);
    }

    .flag.br:before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAYAAABr5z2BAAAB00lEQVQ4T52SzUtUURiHn3M/5t5x5s5UjjpTE21CglISISrJRUP7FrapRRRGixYNSNgmCIQQ2rRoV6HgHyAhuIkCo5SCYoQQ+iQpaUYdG2fu3NvM3DsnTEmHcuO7Pu9zzvk9P8G5/S+QsoedzbSgLyk509a4LiVUHfSqTR2Bb1igmyBE47knOf4F+B64BQ77y4z1tON4dS7OfOJzoBWCUVDUTUgDYO3W2i+U0iLpuMbQsSRBXUEIgV3xSU/P82hFgNUCugEI+AtIxcAtcqDyg9HuvXTvCTCe6WLg8WWaowb3+x6Qas8w8aVI/+wSS6EEGGF4urzxhd4wl5qy3OuKEQkoZPNlMtprdpsBRscXmXyfZW6wn5Cpk3M8rrxdYcJLwFRpHSB6w1yPLHDnSISgJrBdj4PDY8SJMHChjZ91l/PxU8R2mbie5Paczd1CAvnc3nhBqhmcVQ5VvzPSGeJ4XGfq6wnSkzcplsoMnR7mbMcbXuXh6juHj8a+9UCf5bdY+BOii1bMMdhic6tDx1DXtElWK3BjtsrDYhRptW4q/b/GGjgFjta+MdKpMl+WXPugstCUhKAFiraNxq0VkXWouqgVG18oYFqgGdsW6SVwcmdNZuY3lu25zsz4IDIAAAAASUVORK5CYII=);
    }

    .flag.jp:before {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAYAAABr5z2BAAAAyElEQVQ4T2NsmjT3CMN/BmsGMgAjA8MxxqaJc/8Xp8eRoZ2BoXfmIgbaGPD/10+G13WVDJ9WLgO7jC88ikG0qZ2BkY0dxaU4XfCmpZ7h/dSJKIoFs/MZRGoaiTPgnp4aw9/Xr1AUM4uKMihduk2cAfcNNBj+vHyBophFTJxB8eJN4gx419vJ8LanHUWxcEklg1BxOXEG/P/zh+FtZwvD51XLwRp4wyIZhMtrGBhZWIgzgNhEQZ10MHPJ+v8v374j1lIUdWLCQgwAG1htQzGt2mgAAAAASUVORK5CYII=);
    }
    
    .flag.es:before {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAYAAABr5z2BAAAA9ElEQVQ4T2PsY2Y48p+BwZqBPHCMsZeZ4X+RjiZZ2vuuXGeg3IBTDQz/TUMswS64fvMPw8//ggzP3oky8HD+ZuDi+M0gIfiRQUbiO1YXnl5znIER2QCG/wwMB3ZbMqjNWsPAuvcQw4Nr+xhMpJYxMP7/SpwBF26JMYgZtDHw33nI8DEvg+Hb6uUM3x4tYtCTv0ScAYcuyDAomFUxnN63muHfg/sMkrYhDF+frmJwt3pEnAE/frIwvPjtznDm+DkGUREWBmV1DQYJjsMMLEw/iDMApurPHyYGFpZ/BKMWHIgDnw56mRmOMjAwWBF0LxYFjAwMxwHj5XGr1M6PtQAAAABJRU5ErkJggg==);
    }

    .flag.fr:before {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAYAAABr5z2BAAAATklEQVQ4T2N01Z8/nZHhfwYDErBJ+o/MhbOVK3PRxWcxuunP+68gHIIi0b+NE6sBH1SVUMQPvH3LMGrAaBhQLR3MZGBgSCMnKTMyMMwGACAMWONtJSw3AAAAAElFTkSuQmCC);
    }

    .flag.en:before {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAYAAABr5z2BAAAB5klEQVQ4T62SX2iSARTFf85pTswWmKIjGFHCVqvYQ/QS9DBCMpI9RGMgmULFcrqtopdtiBrWBgOrCbE/FI0R1MINepAPFgYFtREESyHaS3/8SjSsbDaDDD/BhxJ6qPt0uedwuPfcIzuH8XMTojYfnmJ5sZGF+deUyx/WofG6pL6MDXsztO3ewjFXSZqVsRTGr7IxKJ080I7qjIcNXXbGIxlmZrIIgpm1fbsksvrZCv5ACp/PhOKJQGEkCA1qphcEZP7wVKlP30Bx8jr1O8xofCHuPlRitW6qCmx+kUC+nmdt9BLrizGU3S6U3U4Gg0+RyeUjpUjEgb1TwfeJaxSFB2gvDqHoOEy2rVXawLCyQvpIB/U796DqvcC9uIrZ2SyxWLSywZDHKRF/r48tLRWBZLImHrg6jeRBl9FYk/C34R1R/A8C/3wCXCmFQnZ6bN8QB3rQnXCg7jxOHXXk9lZM1CeS5B8/4v3wIIbAKLeWmolGc8Tj8xUTT5kaSY9dZlvkBjlDKwP975icaK6+UbP8EvFDka3KNKtOB1qrDd1pN0dtcxUPDlktmG/eJpFS0+d9S6Hw848gWSyvCASbOLhfwWq/hx+ZT8Tm7iM7j/GLCXGjcvw57rNC1fhaUS6D7t529NvfVKP8C3dwxIJrNCCYAAAAAElFTkSuQmCC);
    }

    .otherLists {
        padding-bottom: 15px;
        font-size: 14px;
    }

    .otherLists>* {
        padding-right: 5px;
    }

    .trend.up_green:before {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAWklEQVQ4je2QsQmAQBAE57OvTSxEsBLBRgQLEIv5Sh7W6MRAzvvA7Gfi2WCh8yMiIw7EicitcUJs6HZHpJaB5RGbazSeXmJz/ooHRHUGKmL0BooTmyX+RSfEBfZTTsYuOdaFAAAAAElFTkSuQmCC');
    }

    .trend.down_red:before {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAbElEQVQ4je2PsQmAQBAE5wXBukztwdwqzG3CXDC1GGOrEGUNFPngvX/zX9jgOGa4gxznD4KCu1ZOBwpuBJtAka6fakEjOAx4F9TmfYLOELSR917JEID7JPgROMHkwWMy7EkqwSKYBeVvQU56LrRIUIg57GsHAAAAAElFTkSuQmCC');
    }

    .trend.down_yellow:before {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAXklEQVQ4jWNgGAXUBf//M9z//5/hPwF8D58Bvv//M/zBo/n3//8MnoRckY3HgDRivdKLRXMHKWHB+P8/wxokzSv+/2dgJNoAqCGc//8z7Pr/n2H7//8M7CRpHgWkAQC/i3qWitixtwAAAABJRU5ErkJggg==');
    }

    .trend.up_yellow:before {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAXElEQVQ4je2QsQmAQBAE97OvTSxEsBLBRgQLEIv5Sh7GxAMDOe8Dsx+YcDZYqfMfoAw6QCcot8YJtIG43UGpZWB5xOYajaeX2Jy/4gFUnYEKGr2B4sRmCX/RiXEBszN6mnAUyRcAAAAASUVORK5CYII=');
    }

    .trend.mid_gray:before {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAABNUlEQVQ4jcWSsUoDQRiEv721OQOBE2yutbRLFYyFhRZCwEJSCKbLXh5A8Q3sBBGL4LGVnZyNL2CjoCCki6CVXbDRTjCwuzYxHHHvNJVT7T//zLDDLvw3RNGi3W5XwjC8AB7TND0o0kkf2Wq1ZLVavQSaQKNWq436/f6tTxv4yCiKTpxzzck1hTjsdrs7f6qQJMkecOTRflprN7TWN4UBSqltIUTmCx7jTUq50uv1nn5USJJkXghxXmIGWDDGnOWJue9DHMej4XB46pyrlARgjHnKz5OAwWDgoihqAKtlAVLK4/w8qZBlmTHGbAHPRWbn3FUcx/t5zvcKS8AdsDi1egDW0jT9KA0A6HQ69SAIroFwTL1Ya+ta69dprfcjaa3vhRC7gAXegU2f+VcopdaVUsszG2fBF6oAXE7AthYcAAAAAElFTkSuQmCC');
    }